
@font-face {
  font-family: 'VWHeadlineOT-Book';
  src: url('VWHeadlineOT-Book.eot?#iefix') format('embedded-opentype'),  url('VWHeadlineOT-Book.woff') format('woff'), url('VWHeadlineOT-Book.ttf')  format('truetype'), url('VWHeadlineOT-Book.svg#VWHeadlineOT-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}
